* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.selectedLink {
  text-decoration: underline !important;
}
.provider-1 {
  width: 500px;
  height: 300px;
  border: solid 5px rgb(49, 151, 151);
  border-radius: 15px;
  padding: 5px
}